CONFIG_BT_ENABLED=y
CONFIG_ESP32_IGNORE_MAC_CRC_ERROR=y
CONFIG_ESP32S3_IGNORE_MAC_CRC_ERROR=y
CONFIG_ESP32C3_IGNORE_MAC_CRC_ERROR=y
CONFIG_MBEDTLS_SHA256_ENABLED=y

# Required for esp_remote_id rid_auth.c
CONFIG_MBEDTLS_ENTROPY_C=y
CONFIG_MBEDTLS_CTR_DRBG_C=y

# Required for legacy Bluedroid BLE APIs in ble_tx.c
CONFIG_BT_BLUEDROID_ENABLED=y
